:root {
  font: 18px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

:root {
    --bordo: #6f3f46;
    --rosa: #c58b8b;
    --rosa-claro: #f6eeee;
    --blanco: #ffffff;
    --marron: #4a3b3b;
    --gris: #777777;
}

.titulo {
    font-family: 'Playfair Display', serif;
    color: var(--bordo);
}

.valores-marca .card {
    background-color: var(--rosa-claro);
    border: none;
}

.btn-primary {
    background-color: var(--bordo);
    border-color: var(--bordo);
}

.btn-primary:hover {
    background-color: var(--rosa);
    border-color: var(--rosa);
}